/* mobile menu */
@media (max-width:1279px) {
  .navbar { position: fixed; top: 0; right: -100%; width: 100%; max-width: 400px; bottom: 0; transition: 0.3s; z-index: 9997; }
  .navbar ul { position: absolute; inset: 0; padding: 50px 0 10px 0; margin: 0; background: rgba(0,131,116,0.9); overflow-y: auto; transition: 0.3s; z-index: 9998; }
  .navbar a,.navbar a:focus { display: flex; align-items: center; justify-content: space-between; padding: 10px 20px; font-family: var(--font-primary); font-size: 15px; font-weight: 600; color: #000; white-space: nowrap; transition: 0.3s; }
  .navbar a i,.navbar a:focus i { font-size: 12px; line-height: 0; margin-left: 5px; }
  .navbar a:hover,.navbar .active,.navbar .active:focus,.navbar li:hover>a { color: #fff; }
  .navbar .getstarted,.navbar .getstarted:focus { background: var(--color-primary); padding: 8px 20px; border-radius: 4px; margin: 15px; color: #fff; }
  .navbar .getstarted:hover,.navbar .getstarted:focus:hover { color: #fff; background: rgba(0,131,116,0.8); }
  .navbar .dropdown ul,.navbar .dropdown .dropdown ul { position: static; display: none; padding: 10px 0; margin: 10px 20px; transition: all 0.5s ease-in-out; background-color: #007466; border: 1px solid #006459; }
  .navbar .dropdown>.dropdown-active,.navbar .dropdown .dropdown>.dropdown-active { display: block; }
  .mobile-nav-show { color: darkgrey; font-size: 28px; cursor: pointer; line-height: 0; transition: 0.5s; z-index: 9999; margin-right: 10px; }
  .mobile-nav-hide { color: darkgrey; font-size: 32px; cursor: pointer; line-height: 0; transition: 0.5s; position: fixed; right: 20px; top: 20px; z-index: 9999; }
  .mobile-nav-active { overflow: hidden; }
  .mobile-nav-active .navbar { right: 0; }
  .mobile-nav-active .navbar:before { content: ""; position: fixed; inset: 0; background: rgba(0,106,93,0.8); z-index: 9996; }
}
.navbar .getstarted,.navbar .getstarted:focus {
  padding:8px 20px; border-radius:50px; color:#fff;font-size:14px; background: linear-gradient(rgba(255, 0, 46, 1) 60%,rgba(255, 248, 73, 0.2));font-weight:600;
}

/* tabs to accordians */
@media (max-width: 991px) {
  .tab-content>.tab-pane {
    display: block;
    opacity: 1;
  }
}

/* cards */
@media screen and (max-width: 567px) {
  .card-text {
    margin-bottom: 0.5em;
  }
}

.card {
  margin: 5%;
  flex-direction: row;
}
.card-body {
  padding: 0.5em 1em;
}
.card1.card img {
  max-width: 12em;
  height: 100%;
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
}
